
<div class="card-columns">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let t of trucks; let i = index">
      <div class="card-header">ID: {{t.truck_id}}</div>
      <div class="card-body">
          <h5 class="card-title">Estado: <b>{{t.status}}</b></h5>
          <p class="card-text">Temperatura: <b>{{t.temperatura}}</b></p>
          <p class="card-text">Humedad: <b>{{t.humedad}}</b></p>
          <p class="card-text"><b>{{t.time_transmision | date:'dd/MM/yy HH:mm:ss' }}</b></p>

          <button (click)="verLogs(i)"
                  type="button" class="btn btn-outline-light btn-block">
                  Ver mas...
          </button>
        <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
      </div>
  </div>
</div>